body{
    background-color: ghostwhite;
    text-align: center;

}

#teamName{
    background-color: red;
    color:black;
    font-size: 56px;
    padding: 5%;
}

.card{
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: gray;
    border-top-width: 0;
    border-bottom-width: 2px;
    border-radius: 3px;
    box-shadow: 5px 10px red;
    box-sizing: border-box;
}

.card .card-heading {
    margin: 0;
    font-size: 36px;
    line-height: 42px;
    color: black;
    
}
.role{
    color: red;
    font-size: 32px;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.list-group {
    display: block;
    margin: 8px 14px 0 14px;
    font-size: 24px;
    line-height: 28px;
    color: #5f5e5e;
    background-color: #3a3a3a;
    padding-bottom: 20px;
}
